@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
@keyframes storyAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes appear {
  0%{
    transform: translateY(-100rem);
  }
  100%{
    transform: translateY(0);
  }
}