.heading-primary{
  color: $color-white;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  @include respond(tab-port){
    font-size: 4rem;
    margin-bottom:3rem;
  }
  @include respond(phablet){
    font-size: 3rem;
  }
}
.secondary-heading{
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  font-family: 'Libre Baskerville', serif;
  //font-family: Nunito, sans-serif;
  @include respond(tab-port){
    font-size: 2rem;
    margin-bottom:1rem;
  }
}
.paragraph{
  font-size: 1.7rem;
  margin-bottom: 3rem;
  font-family: 'Libre Baskerville', serif;
  //font-family: Nunito, sans-serif;
  letter-spacing: .1rem;

}