$color-black: #000;
$color-white: #fff;

//$color-primary-green: #55c57a;
//$color-primary-green-light: #7ed56f;
//$color-primary-green-dark: #28b485;

//$color-primary-green: rgb(245, 107, 100);
//$color-primary-green-light: rgb(245, 159, 106);
//$color-primary-green-dark: rgb(210, 119, 70);

$color-primary-green: #84C5BD;
$color-primary-green-light: #84DADB;
$color-primary-green-dark: #0c6d62;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f8f9fa;

$color-red: #EE2B09;
$color-blue-green: #84C5BD;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$grid-width: 114rem;
$indent-vertical: 8rem;
$indent-horizontal: 6rem;